<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lxyppc.flycontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lxyppc.flycontrol.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.lxyppc.flycontrol.settings.ViewSettingActivity">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.NetSettingActivity">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.ButtonSettingActivity">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.AxisSettingActivity">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.BlueSettingActivitygActivity">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.AboutQuad">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.QuadParamSettingActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.SensorSettingActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.PIDSettingActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.HorizonSettingActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.settings.GatherDataActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name="com.lxyppc.flycontrol.QuadBootloaderActivity" android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
</manifest>